<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Ruby on Rails: <%=@type%></title>
    <%= stylesheet_link_tag 'main' %>
  </head>
  <body>
    <div id="header">
      <ul class="menu">
        <li><a href="#">Lorem</a></li>
        <li><a href="#">Lorem</a></li>
        <li><a href="#">Lorem</a></li>
        <li><a href="#">Lorem</a></li>
        <li><a href="#">Lorem</a></li>        
      </ul>
    </div>
    <div id="content">
      <p style="width:600px;margin-bottom:10px;"><strong>Marichello/Model1</strong></p>
      <form>
        <ul>
          <li><label>Email:</label><input type="text"></li>
          <li><label>Name:</label><input type="text"></li>
          <li><label>Text:</label><textarea></textarea></li>
          <li><label>&nbsp;</label><input type="submit" value="Send"></li>          
        </ul>
      </form>
    </div>
    
    <div id="footer">
        <ul class="list trades">
          <li><%=link_to 'cornelio', :controller => "brands", :action => "show", :name=>'cornelio'%></li>
          <li><%=link_to 'cornelio', :controller => "brands", :action => "show", :name=>'cornelio'%></li>
          <li><%=link_to 'cornelio', :controller => "brands", :action => "show", :name=>'cornelio'%></li>
          <li><%=link_to 'cornelio', :controller => "brands", :action => "show", :name=>'cornelio'%></li>
          <li><%=link_to 'cornelio', :controller => "brands", :action => "show", :name=>'cornelio'%></li>
          <li><%=link_to 'cornelio', :controller => "brands", :action => "show", :name=>'cornelio'%></li>
          <li><%=link_to 'cornelio', :controller => "brands", :action => "show", :name=>'cornelio'%></li>
          <li><%=link_to 'cornelio', :controller => "brands", :action => "show", :name=>'cornelio'%></li>
          <li><%=link_to 'cornelio', :controller => "brands", :action => "show", :name=>'cornelio'%></li>
          <li><%=link_to 'cornelio', :controller => "brands", :action => "show", :name=>'cornelio'%></li>
        </ul>
    </div>
  </body>
</html>
