<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Ruby on Rails: <%=@type%></title>
    <%= stylesheet_link_tag 'main' %>
  </head>
  <body>
    <div id="header">
      <ul class="menu">
        <li><a href="#">Lorem</a></li>
        <li><a href="#">Lorem</a></li>
        <li><a href="#">Lorem</a></li>
        <li><a href="#">Lorem</a></li>
        <li><a href="#">Lorem</a></li>        
      </ul>
    </div>
    <div id="content">
      <p class="brand" style="width:900px;margin-bottom:20px;margin-top:10px;">
        <strong style="line-height:100px;">Lutron</strong>
        <i>Whether you're looking for solutions for a single room, multiple rooms or interested in controlling the light throughout your home with a light control system, Lutron gives you the freedom to personalize your light in any space. Seamlessly integrate electric light and daylight with Lutron shading solutions.</i>
      </p>
    </div>
    
    <div id="footer">
        <ul class="list trades">
          <li><%=link_to 'cornelio', :controller => "brands", :action => "show", :name=>'cornelio'%></li>
          <li><%=link_to 'cornelio', :controller => "brands", :action => "show", :name=>'cornelio'%></li>
          <li><%=link_to 'cornelio', :controller => "brands", :action => "show", :name=>'cornelio'%></li>
          <li><%=link_to 'cornelio', :controller => "brands", :action => "show", :name=>'cornelio'%></li>
          <li><%=link_to 'cornelio', :controller => "brands", :action => "show", :name=>'cornelio'%></li>
          <li><%=link_to 'cornelio', :controller => "brands", :action => "show", :name=>'cornelio'%></li>
          <li><%=link_to 'cornelio', :controller => "brands", :action => "show", :name=>'cornelio'%></li>
          <li><%=link_to 'cornelio', :controller => "brands", :action => "show", :name=>'cornelio'%></li>
          <li><%=link_to 'cornelio', :controller => "brands", :action => "show", :name=>'cornelio'%></li>
          <li><%=link_to 'cornelio', :controller => "brands", :action => "show", :name=>'cornelio'%></li>
        </ul>
    </div>
  </body>
</html>
